db/
common/lib/
common/tsconfig.tsbuildinfo

.DS_Store
directus/uploads/
.env
verdaccio/
airbnb.ts
api/assets/markerTemplate.bak.svg
node_modules/*

~/.nvm/*
api/~/.nvm/*
./node_modules
node_modules/bun/*
node_modules/bun/bin/bun.exe
node_modules/bun/package.json
Dockerfile.simple
backup.sh
docker-compose.simple.yml
dump.sql
get-docker.sh
nginx.optimized.conf
setup-backup.sh
test-local.sh
test.txt
